<html>
    <head>
        <title>Watch Anime Together</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body id="top">
        <div class="loading">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="container-fluid d-flex display-column justify-content-center">
            <div class="row justify-content-center">
                <div class="col-6 d-flex justify-content-center display-column">
                    <form name="form" method="get" action="/search">
                        <input name="search" type="text" class="type-message" placeholder="Search for Anime">
                        <button>Search</button>
                    </form>
                </div>
            </div>

            <% if(locals.animes) { %> 
                <div class="down-arrow">
                    <i class="fa-solid fa-arrow-down fa-3x"></i>
                </div>
            <% } %>
        </div>

        <div class="container">
            <% if(locals.animes) { %> 
                <div class="row">
                <% for(var i = 0; i < animes.length; i++) {%>
                    <div class="col-2">
                        <div class="card anime-card" onclick="postAnimeId('<%= animes[i].animeId %>')">
                            <img class="card-img-top" src="<%= animes[i].animeImg %>">
                            <div class="card-body">
                                <h6 class="card-title"><%= animes[i].animeTitle %></h6>
                            </div>
                        </div>
                    </div>
                <% } %>
                </div>
            <% } %>
        </div>

        <% if(locals.animes) { %> 
            <a class="goto-top" href="#top">
                <i class="fa-solid fa-arrow-up text-white"></i>
            </a>
        <% } %>

        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="js/cookie.maker.js"></script>
    </body>
</html>